.requests {
}

.section-request {

}

.request-header {
  max-width: 95%;
  height: 25.6rem;
  margin: 75px auto;
  background-color: #feece8;
  background-image: url("../../../assets/second-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 17px;
}
.list-header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 68px 65px;
  line-height: 50px;
}
.header-title {
  font-size: 36px;
  color: black;
}

.header-desc {
  color: #4f4a4a;
  line-height: 30px;
}

.state-box {
  margin: 0 auto;
  width: 80%;
  /*position: fixed;*/
}

.state-box select {
  text-align: right;
  background-color: #e9eafc;
  color: #4e45d0;
  padding: 20px;
  font-size: 2.5em;
  border: none;
  cursor: pointer;
  width: 100%;
}

.state-box select option {
  background-color: #4e45d0;
  /*font-size: 90px;*/
}

/* .state-box {
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
} */

/* ------------------------------------- */
.requests-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 21px;
  max-width: 112.4rem;
  margin: 75px auto;
}
.request-box {
  background: #ffffff;
  border: 0.5px solid #9c9696;
  border-radius: 3px;
}
.request-box:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border: none;
}
.request-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 94%;
}
.artist-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.artist-pro-pic {
  aspect-ratio: 1/1;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 50%;
  object-fit: cover;
}

.artist-secondary-info {
  margin-bottom: 10%;
}

.header-desc {
  font-size: 18px;
}
.request-artist-name {
  font-size: 3.2em;
  text-align: center;
}
.request-rate,
.request-commission,
.request-nft-num,
.filds {
  font-size: 2.3em;
  text-align: center;
  line-height: 1.5em;
  color: #4f4a4a;
}

.atrist-filds {
  display: flex;
}
.filds {
  width: 6.8rem;
  padding: 7.5% 0;
  margin: 21% 1%;
  text-align: center;
  background: #ffded2;
  border-radius: 35px;
}
.filds:hover {
  background: #ffefe9;
}
.view-artist-profile-btn {
  width: 21.1rem;
  height: 4.7rem;
  font-size: 18px;
  text-align: center;
  border: none;
  color: #4e45d0;
  background-color: #e9eafc;
  padding: 4% 0%;
  margin-bottom: 5%;
}

.view-artist-profile-btn:hover {
  color: white;
  background-color: #4e45d0;
}

@media (max-width: 1150px) {
  .requests-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 90.4rem;
  }
  .view-artist-profile-btn {
    width: 24.1rem;
  }
}

@media (max-width: 950px) {
  .requests-container {
    max-width: 77.4rem;
  }
  .view-artist-profile-btn {
    width: 20.1rem;
  }
}

@media (max-width: 850px) {
  .requests-container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 57.4rem;
  }
  .header-desc {
    font-size: 20px;
    width: 68%;
  }
}

@media (max-width: 650px) {
  .requests-container {
    max-width: 48.4rem;
  }
  .list-header-content {
    margin: 0 15px;
  }
  .header-title {
    font-size: 28px;
  }
  .header-desc {
    font-size: 15px;
  }
  .request-artist-name {
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .request-box {
    margin-bottom: 5%;
  }
  .requests-container {
    grid-template-columns: 1fr;
    gap: 0;
    max-width: 90%;
    margin-bottom: 10%;
  }
  .request-content {
    display: flex;
    flex-direction: row-reverse;
    /*grid-template-areas:*/
    /*  "a4 a1 a3 a2";*/
    justify-content: space-evenly;
    height: 100%;
  }
  .artist-info {
    /*grid-area: a1;*/
    display: flex;
    flex-direction: column;
    width: 25%;
  }
  .artist-pro-pic {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .artist-secondary-info {
    margin-bottom: 0;
  }
  .artist-third-info {
    margin-top: 0;
    margin-bottom: 0;
  }
  .atrist-filds {
    grid-area: a2;
    justify-content: end;
    margin-top: -19%;
  }
  .view-artist-profile-btn {
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100%;
    font-size: 2.2em;
  }

  .filds {
    width: 5.8rem;
    padding: 3.5% 0;
  }
}

/*@media (max-width: 420px) {*/
/*  .requests-container {*/
/*    max-width: 34.4rem;*/
/*  }*/
/*  .view-artist-profile-btn {*/
/*    width: 11.1rem;*/
/*  }*/
/*}*/
