div.footer-section {
  background: #e9eafc;
  background-image: url("../../../../mehdizade_project/starter_file/calligraphy/src/images/footer/f-pattern.png");
  background-repeat: no-repeat;
  background-size: auto 1000%;
}
div.footer-conent {
  padding: 1% 4%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  max-width: 100%;
}

div.footer-about {
  grid-area: c1;
  width: 40%;
  display: flex;
  flex-direction: column;
}

div.about-us {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

img.logo {
  width: 60px;
  height: 60px;
  margin-left: 1.5%;
  display: flex;
  align-items:center;
}
.logo:hover {
  transform: translate(2%, 2%);
}
p.footer-title {
  font-size: 40px;
  color: #4d4848;
  text-align: center;
}
.links1{
margin: auto;
}
.desc1{
  font-size: 25px;
  width: 84%;
  
  align-self: center;
  line-height: 40px;
  color: #4d4848;
  text-align: right; 
}
p.desc {
  font-size: 25px;
  width: 84%;
  
  align-self: center;
  line-height: 40px;
  color: #4d4848;
  text-align: center;
}
.footer-links {
  grid-area: c2;
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
}
.links-box,
.desc {
  margin-left: 10px;
}

.links-box {
  width: 50%;
}


.link-title:hover,
.subscribe:hover {
  text-shadow: 4px 6px 10px rgba(0, 0, 0, 0.25);
}

.links {
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  color: #4d4848;
}
.links:hover,
.desc:hover,
.footer-title:hover {
  color: black;
}
.footer-contact {
  grid-area: c2;
  display: flex;
  flex-direction: column;
  align-items: self-end;
}
.social-media {
  grid-area: c2;
  display: flex;
  /* justify-content: space-around; */
justify-content: center;  
align-items: center;
  width: 70%;
  color: #000000;
  margin: 50px  50px;
  width: 50px;
  height: 50px;
}
  .social-media {
    /* width: 30rem; */
  }
  .sm-icon {
    width: 5rem;
    height: 5rem;
  }

  .subscribe {
    grid-area: f1;
    justify-self: end;
  }
  /* .email {
    grid-area: f2;
  } */
  .social-media {
    grid-area: f3;
    align-self: center;
  }
.copyright{
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 40px;
}

@media (max-width: 500px) {
  .footer-contact {
    justify-content: end;
    grid-template-areas:
      "f1"
      "f2"
      "f3 ";
  }

  .links-box {
    margin: 0;
  }
}

@media (max-width: 410px) {
  .links,
  .link-title,
  .desc,
  .subscribe {
    font-size: 18px;
  }

  .sm-icon {
    width: 4rem;
    height: 4rem;
  }
}
