.section-2-main-main-container {
  background-color: #c4c1e09f;
  padding-bottom: 80px;
  margin: 10px;
  border-radius: 10px;
}
.section-2-header-text {
  font-family: B-Nazanin;
  font-size: 50px;
  margin: 10px;
  margin-top: 10px;
  padding-top: 10px;
}

/* ------------main------------- */
.section-2-important-container {
  position: relative;
  max-width: 1150px;
  height: 450px; /*baraye inke doros kar konad height moshakhas gozashtim */
  /* width: auto; */
  margin: 0 auto;
  display: flex;
}

.section-2-main-detail-time-date-container {
  position: absolute;
  right: 10%;
  bottom: 0%;

  background-color: #968fed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 30px 30px;
  border-radius: 12px;

  /* text-align: right; */
}
.section-2-name-of-festival {
  background-color: #958fedc0;
  border: solid 2px #7c73e8;
  border-radius: 12px;
  padding: 5px 50px;
  color: white;
  font-family: B-Nazanin;
  font-size: 35px;
  text-align: right;

  position: absolute;
  right: 25%;
  top: 10%;
}

.section-2-image {
  position: absolute;
  border-radius: 12px;
  /* max-width: 30%; */
  height: 80%;
  width: 60%;
  object-fit: cover;
}
.section-2-detail {
  font-family: B-Nazanin;
  color: white;
  font-size: 30px;
  right: 50%;
  text-align: right;
}
.section-2-button {
  transition: 400ms;
  border-radius: 12px;
  font-size: 30px;
  padding: 5px 30px;
  background-color: white;
  color: #7c73e8;
  box-shadow: 0px 0px 0px 0px;
}
.section-2-button:hover {
  transition: 200ms;
  background-color: #7c73e8;
  color: white;
}

/*======================= responsive =================== */
@media (max-width: 1232px) {
  .section-2-important-container {
    max-width: 90%;
  }
}
@media (max-width: 1137px) {
  .section-2-main-detail-time-date-container {
    position: absolute;
    right: 5%;
    bottom: 0%;
    border-radius: 12px;

    /* text-align: right; */
  }
  .section-2-detail {
    font-family: B-Nazanin;
    color: white;
    font-size: 25px;
    /* right: 50%; */
  }
  .section-2-button {
    font-size: 25px;
    padding: 5px 30px;
  }
  .section-2-name-of-festival {
    background-color: #958fedc0;
    border: solid 2px #7c73e8;
    border-radius: 12px;
    padding: 5px 40px;
    color: white;
    font-family: B-Nazanin;
    font-size: 30px;
    text-align: right;

    position: absolute;
    right: 17.5%;
    top: 10%;
  }
  @media (max-width:700px){
    .section-2-main-main-container{
      padding-bottom: 10px;

    }
    .section-2-main-detail-time-date-container {
      position: absolute;
      right: 5%;
      bottom: 7%;
      border-radius: 12px;
  
      /* text-align: right; */
    }
    .section-2-detail {
      font-family: B-Nazanin;
      color: white;
      font-size: 20px;
      /* right: 50%; */
      text-align: center;
    }
    .section-2-button {
      font-size: 25px;
      padding: 4px 25px;
    }
    .section-2-name-of-festival {
      background-color: #958fedc0;
      border: solid 2px #7c73e8;
      border-radius: 12px;
      padding: 5px 30px;
      color: white;
      font-family: B-Nazanin;
      font-size: 30px;
      text-align: center;
      position: absolute;
      right: 10%;
      top: 1%;
    }
  }
  @media(max-width: 500px){
    .section-2-main-main-container{
      padding-bottom: 35px;

    }
    .section-2-main-detail-time-date-container {
      position: absolute;
      right: 0%;
      bottom: -15px;
      border-radius: 12px;
      
  
      /* text-align: right; */
    }
    .section-2-detail {
      font-family: B-Nazanin;
      color: white;
      font-size: 18px;
      /* right: 50%; */
      text-align: center;
      margin-top: -20px;
    }
    .section-2-button {
      font-size: 20px;
      padding: 3px 20px;

    }
    .section-2-name-of-festival {
      background-color: #958fedc0;
      border: solid 2px #7c73e8;
      border-radius: 12px;
      padding: 3px 15px;
      color: white;
      font-family: B-Nazanin;
      font-size: 23px;
      text-align: center;
      position: absolute;
      right: 1%;
      top: 0%;
    }
    .section-2-image {
      position: relative;
      right: 0%;
      left: 15%;
      border-radius: 12px;
      /* max-width: 30%; */
      height: 70%;
      width: 70%;
      object-fit: cover;
    }
  }
}
