.image-section-4 {
  background-image: linear-gradient(
      rgba(201, 201, 231, 0.518),
      rgba(201, 201, 231, 0.518)
    ),
    url(../images/section-4.png);
  /* rgba(170, 164, 240, 0.33)   main color */
  /* opacity: 0.66; */
  background-size: cover;
  /* background-blend-mode: soft-light; */
  background-position: center;
  margin: 0px 0px;
  padding: 0px;
  height: 300px;
  width: 100%;
  max-width: 1600px; /*badan dar responsive kardan deghat shavad */
  /* margin: 0 auto;   */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* filter: brightness(90%); */
  object-fit: contain;
}

.button-section4 {
  font-size: 25px;
  color: #fafafa;
  background-color: #968fed;
  padding: 10px 40px;
}

.header-section-4 {
  font-family: B-Nazanin;
  font-size: 75px;
}

/* =============responsive================ */
@media (max-width: 1080px) {
  .image-section-4 {
    font-size: 20px;
    margin-top: 90px;
  }
  .header-section-4 {
    font-family: B-Nazanin;
    font-size: 60px;
  }
}
@media (max-width: 836px) {
  .image-section-4 {
    height: 200px;
    margin-bottom: -20px;

  }
  .button-section4 {
    font-size: 20px;
    color: #fafafa;
    background-color: #968fed;
    padding: 10px 40px;
  }
  .header-section-4 {
    font-family: B-Nazanin;
    font-size: 50px;
  }
}
@media (max-width: 650px) {
  .button-section4 {
    font-size: 20px;
    color: #fafafa;
    background-color: #968fed;
    padding: 5px 5px;
  }
  .header-section-4 {
    font-family: B-Nazanin;
    font-size: 40px;
    text-align: center;
  }
  .image-section-4 {
    height: 150px;
    margin: 0px;

  }
}
@media (max-width: 520px) {
 
  .button-section4 {
    font-size: 15px;
    color: #fafafa;
    background-color: #968fed;
    padding: 5px 20px;
  }
  .header-section-4 {
    font-family: B-Nazanin;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    

  }
 
}
