p {
  text-align: center;
}
.title{
  font-size: 50px;
  
}
.past-collections {
  margin: 4% 0 0 0;
  background: #e9eafc;
  padding: 40px 0 200px 0;
}
.past-collections-container {
  width: 98.5%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3%;
  overflow-x: scroll;
}
.past-collection {
  margin: 10% 7%;
  width: 39.2rem;
  height: 51.6rem;
  background-color: #ffff;
  border-radius: 3px;
}
.past-collection:hover {
  box-shadow: 0px 4px 28px 2px rgba(0, 0, 0, 0.25);
}

.past-collection-detail {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 4%;
}
.past-collection-detail * {
  line-height: 50px;
}

.past-collection-image {
  border-radius: 3px 3px 3px 3px;
  width: 100%;
  height: 55%;
  object-fit: cover;
}

.past-collection-date::after {
  display: block;
  height: 1px;
  background-color: #9c9696;
  content: " ";
  width: 80%;
  margin: 0 auto;
  margin-bottom: 8px;
}
.past-collection-date,
.past-collection-desc {
  font-size: 25px;
  color: #5e5e5e;
}
.past-collection-title {
  font-size: 35px;
  color: #000000;
}
.past-collection-desc {
  line-height: 30px;
}

@media (max-width: 1150px) {
  .past-collections {
    margin-top: 6%;
  }
}

@media (max-width: 850px) {
  .past-collections {
    margin-top: 13%;
  }
}

@media (max-width: 650px) {
  .past-collection {
    width: 34.2rem;
    height: 44.6rem;
  }

  .past-collection-image {
    height: 47%;
  }
}

@media (max-width: 450px) {
  .past-collection {
    width: 31.2rem;
  }
}
