.the-main-continer {
  background-color: #93f2d6;
  background-color: #e9eafc;
  text-align: right;
  color: black;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  /* max-width: 1500px; */

  font-family: B-Nazanin;
}
.formtitle{
  font-size: 30px;
  font-weight: 600;
}
.main-container-form {
  display: flex;
  justify-content: space-between;
  gap: 200px;
  align-items: stretch;
  /* gap: 1000px; */
  /* flex-direction: column; */
  margin: auto 100px;
}
.input-fields-container-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: flex; */
  gap: 30px;

  /* padding: 30px 0px; */
  /* max-width: 400px; */
}

.input-fields-main {
  border: none;
  background-color: white;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  padding: 15px 60px;
  border-radius: 5px;
}
.name-and-familyname-form {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
}
.nftchooise{
  font-size: 30px;
  font-weight: 600;
}
input,
input::placeholder {
    font-size: 15px;
  }
  input[type="text"]
{
    font-size:15px;
}
.button-submit-form {
  text-decoration: none;
  font-family: B-Nazanin;
  border: none;
  border-radius: 3px;
  background-color: #4e45d0;
  color: white;
  font-size: 20px;
  width: 200px;
  height: 50px;
}
.button-submit-form1{
  text-decoration: none;
  font-family: B-Nazanin;
  border: none;
  border-radius: 3px;
  background-color: #4e45d0;
  color: white;
  font-size: 20px;
  width: 200px;
  height: 50px;
}
.button-submit-form:hover,
.button-submit-form1:hover{
  background-color: #0059ff;
  color: black;
}
.image-container {
  max-height: 485px;
  max-width: 296px;
}
.image-paisley-edit {
  /* filter: opacity(0.8) drop-shadow(0, 0, 0, rgba(0, 64, 255, 0.668)); */
  height: 100%;
  width: 100%;
  transform: rotate(210deg);
}

/*================== nft choosig style================ */
.nft-choose-main-container {
  background-color: white;
  border-radius: 5px;
  display: flex;
  padding: 20px 20px;
  /* flex-direction: column; */
  gap: 20px;
  overflow-y: scroll;
  height: 400px;
}

.section-3-nft-flexing-cart {
  /* border: 0.1px solid rgba(0, 0, 0, 0.325); */
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);

  border-radius: 5px;
  width: 230px;
  height: 321px;
}
.section-3-nft-flexing-cart-2 {
  background-color: red;
}
.section-3-nft-choosing-images {
  object-fit: fill;
  border-radius: 5px;
  /* object-fit: contain; */
  width: 100%;
  height: 50%;
}

/*================= cart special editing =================*/
.detais-cart-nft-choosed {
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 230px;
  height: 143px;
}
.category-special-editing {
  color: rgba(0, 0, 0, 0.518);
  font-size: 40px;
  text-align: center;
}
.title-special-editing {
  font-size: 35px;
  text-align: center;
  color: black;
}
.creator-special-editing {
  color: rgba(0, 0, 0, 0.753);
  font-size: 15px;
  text-align: center;
}
.creator-special-editing::after {
  color: rgba(0, 0, 0, 0.753);
  display: block;
  height: 1px;
  background-color: #0000007c;
  content: " ";
  width: 80%;
  margin: 0 auto;
  margin-top: 8px;
}
.price-special-editing-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  text-align: center;
margin-top: 10px;
}
.price-special-editing-button {
  font-family: B-Nazanin;
  border: none;
  border-radius: 3px;
  background-color: #251f73;
  color: white;
  font-size: 30px;
  padding: 1px 20px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.price-special-editing {
  font-size: 25px;
  color: black;
  /* border-top: 0.5px solid rgba(0, 0, 0, 0.394); */
}
.price-special-editini-details {
  color: rgba(0, 0, 0, 0.753);
  font-size: 15px;
  text-align: center;
/* margin-bottom: -30px;   */
}
button.last-submit-button {
  align-self: center;
  text-decoration: none;
  font-family: B-Nazanin;
  border: none;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 10px 40px;
  background-color: #4e45d0;

}
.last-submit-button:hover{
  background-color: #0059ff;
  color: black;
}
/* =============   responsive   ================ */
@media (max-width: 1308px) {
  .image-paisley-edit {
    height: 100%;
    width: 159%;
    transform: rotate(210deg);
  }
}

@media (max-width: 1220px) {
  .image-paisley-edit {
    height: 100%;
    width: 209%;
    transform: rotate(210deg);
  }
}
@media (max-width: 1220px) {
  .main-container-form {
    gap: 200px;
    margin: auto 50px;
  }
  .image-paisley-edit {
    height: 100%;
    width: 100%;
    transform: rotate(210deg);
  }
}
@media (max-width: 1020px) {
  .main-container-form {
    gap: 100px;
    margin: auto 50px;
  }
}
@media (max-width: 905px) {
  .main-container-form {
    gap: 70px;
    margin: auto 20px;
  }
}
@media (max-width: 840px) {
  .main-container-form {
    gap: 40px;
    margin: auto 20px;
  }
}
@media (max-width: 800px) {
  .input-fields-main {
    padding: 15px 20px;
  }
  .name-and-familyname-form {
    /* align-items: stretch; */
    gap: 0px;
  }
}
@media (max-width: 788px) {
  .input-fields-main {
    padding: 15px 20px;
  }
  .input-fields-container-main {
    gap: 23px;
  }
  .name-and-familyname-form {
    gap: 20px;
  }
}
@media (max-width: 760px) {
  .name-and-familyname-form {
    gap: 10px;
  }
}
@media (max-width: 716px) {
  .name-and-familyname-form {
    gap: 10px;
  }
  .main-container-form {
    gap: 10px;
    margin: auto 10px;
  }
  .input-fields-container-main {
    z-index: 1;
   width: 90%;
  }
  .image-container {
   width: 0px;
   height: 0px;
  }
}
@media (max-width: 647px) {
  .image-paisley-edit {
    width: 150%;
    height: 100%;
  }
}

@media (max-width: 593px) {
  .image-paisley-edit {
    width: 150%;
    height: 100%;
  }
  .input-fields-main {
    font-size: 10px;
  }
  .button-submit-form {
    font-size: 15px;
    padding: 10px 30px;
  }
  .input-fields-container-main {
   width: 100%;
  }

  /* ===============for header============= */
}
@media (max-width: 497px) {
  .image-paisley-edit {
    width: 232%;
    height: 101%;
    opacity: 0.5;
  }
}

@media (max-width: 466px) {
  .main-container-form {
    gap: 5px;
    /* margin: 0px; */
  }
  .image-paisley-edit {
    width: 400%;
  }
}

@media (max-width: 440px) {
  .image-paisley-edit {
    width: 500%;
  }
  .button-submit-form {
    text-decoration: none;
    font-family: B-Nazanin;
    border: none;
    border-radius: 3px;
    background-color: #4e45d0;
    color: white;
    font-size: 20px;
    /* padding: 15px 40px; */
    width: 300px;
    height: 50px;
    font-size: 13px;
  }
  .input-fields-container-main {
    width: 90%;
    margin-right: 300px;
   }
   .input-fields-main {
    border: none;
    background-color: white;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    padding: 12px 10px;
    border-radius: 5px;
    
  }
  .name-and-familyname-form {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 5px;
    margin-left: 50px;
  }
}
@media (max-width: 430px) {
  .image-paisley-edit {
    width: 700%;
  }
}
@media (max-width: 377px) {
  .image-paisley-edit {
    display: none;
  }
  .input-fields-main {
    border: none;
    background-color: white;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    padding: 8px 1px;
    border-radius: 5px;
    
  }
  .main-container-form {
    gap: 0px;
    margin: 0px;
  }
  .name-and-familyname-form {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 5px;
    margin-left: 70px;
  }
}
