
.footer {
  background-image: url("./../image/footer/f-pattern.png");
  background-repeat: no-repeat;
  background-size: auto 200%;
  width: 100%;
  text-align: right;
  font-family: B-Nazanin;
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}
/* footer left*/
.footer .footer-left {
  width: 33%;
  padding-right: 15px;
  margin-right: 100px;
}
.footer .about {
  line-height: 20px;
  /* color: #ffffff; */
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.title{
display: flex;
justify-content: center;
}
.link-title{
  font-size: 35px;
  font-weight: 900;
  color: #0099ff;
}
.links{
  display: flex;
  justify-content: center;
  }
.footer .about span {
  display: block;
  /* color: #ffffff; */
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer .icons {
  margin-top: 50px;
}
.icons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-right {
  /* display: flex ;
  justify-content: center ; */
  /* margin-right: -250px; */
}
.footer .icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 20px;
  margin-bottom: 5px;
}
/* footer center*/
.footer .footer-center {
  width: 40%;
}
/* .footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
} */
.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}
.footer .footer-center p {
  display: inline-block;
  /* color: #ffffff; */
  vertical-align: middle;
  margin-right: 300px;
}
.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footer .footer-center p a {
  color: #0099ff;
  text-decoration: none;
}
.desc1 {
  display: flex;
  justify-content: start;
}
/* footer right*/
.footer .footer-right {
  width: 16%;
}
.logo{
  /* display: flex;
  justify-content: center; */
  /* align-self: flex-end; */
/* margin-left: 100px; */
}
.footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}
.footer h2 span {
  color: #0099ff;
}
.footer .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}
.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
.footer .menu a:hover {
  color: #0099ff;
}
.footer .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.copyright1{
  color: #ffffff;
  font-size: 20px;
  
}
@media (max-width: 767px) {
  .footer {
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
  .footer .footer-center p {
    margin-right: 0px;
  }
  .footer-right {
    margin-left: 160px;
  }
  .copyright1{
    color: #ffffff;
    font-size: 15px;
  }
}
@media(max-width:500px){
  .footer-right {
    margin-left: 100px;
  }
}
@media(max-width:350px){
  .footer-right {
    margin-left: 60px;
  }
}