.request-header {
  display: flex;
  align-items: center;
  justify-content: end;
}

.header-content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 68px 65px;
}
.artist-profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.artist-profile:hover {
  box-shadow: 0px 4px 17px 1px rgba(0, 0, 0, 0.25);
}
.artist-inf {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}
.artist-name {
  font-size: 36px;
}
.secondary-info {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.secondary-info * {
  font-size: 18px;
  color: #4f4a4a;
  margin-left: 41px;
}
.artist-filds {
}
.rate {
}

/* ----------------------------- */

.part {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 10%;
  margin-left: 5%;
}
.arts-container {
  background-color: white;
  max-width: 112.4rem;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 33px;
  scroll-padding-left: 10px;
}

.nft-flexing-cart {
  border: 0.1px solid rgba(0, 0, 0, 0.325);
  border-radius: 5px;
}

.nft-flexing-cart:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border: none;
}
.nft-choosing-images {
  object-fit: cover;
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  height: 53%;
}

.detais-cart-nft-choosed {
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  height: 35%;
  justify-content: space-between;
}
.detais-cart-nft-choosed * {
  font-size: 16px;
}

.price::before,
.art-list::after {
  display: block;
  height: 1px;
  background-color: #9c9696;
  content: " ";
  width: 80%;
  margin: 0 auto;
  margin-bottom: 8px;
}
.art-list::after {
  margin: 0;
  margin-top: 95px;
  width: 85%;
}
.price-details,
.category,
.like::after {
  color: #8e8e8e;
}
.like,
.price {
  color: black;
}
.nft-desc {
  color: #45464b;
  line-height: 16px;
}

.like {
  display: flex;
  align-items: center;
}
.like-icon {
  width: 26px;
  height: 24px;
}

.artist-page h3 {
  font-size: 35px;
  margin: 75px 0px;
  text-align: right;
}
/* ----------- */

.message {
  width: 60%;
  height: 212px;
  border: 0.5px solid #858585;
  font-size: 20px;
  padding: 1%;
}

.confirmation-btn {
  display: flex;
}

.confirmation-btn button {
  width: 20.1rem;
  height: 4.7rem;
  font-size: 18px;
  text-align: center;
  border: none;
  color: #4e45d0;
  background-color: #e9eafc;
  padding: 3% 0%;
  margin: 75px 15px 75px 20px;
}

.confirmation-btn button:hover {
  color: white;
  background-color: #4e45d0;
}

@media (max-width: 1150px) {
  .message {
    width: 70%;
  }
  .arts-container {
    gap: 20px;
    max-width: 90.4rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .confirmation-btn button {
    width: 15.1rem;
    margin: 40px 15px 40px 20px;
  }
}

@media (max-width: 850px) {
  .part {
    margin: 0 35px;
  }
  .arts-container {
    max-width: 54.4rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .header-content {
    margin: 0 32px;
  }
  .secondary-info {
    flex-direction: column;
  }
  .artist-profile {
    width: 8rem;
    height: 8rem;
  }
  .artist-name {
    font-size: 30px;
  }
  .artist-page h3 {
    font-size: 28px;
    margin: 38px 0;
  }
  .message {
    width: 80%;
  }
  .arts-container {
    max-width: 54.4rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .nft-flexing-cart {
    aspect-ratio: 7/10;
  }
  .nft-choosing-images {
    height: 43%;
  }
  .detais-cart-nft-choosed {
    padding: 8px;
  }
  .detais-cart-nft-choosed * {
    margin-top: 8px;
  }
  .like {
    align-items: flex-end;
  }

  .like-icon {
    width: 20px;
    height: 19px;
  }
  .art-list::after {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .part {
    margin: 0 25px;
  }
  .message {
    width: 90%;
  }
  .confirmation-btn button {
    font-size: 15px;
    width: 12.1rem;
  }
}

@media (max-width: 480px) {
  .detais-cart-nft-choosed * {
    margin-top: 8px;
  }
  .detais-cart-nft-choosed * {
    font-size: 14px;
  }
}

@media (max-width: 430px) {
  .detais-cart-nft-choosed {
    padding: 5px;
  }
  .detais-cart-nft-choosed * {
    margin-top: 3px;
  }
  .detais-cart-nft-choosed * {
    font-size: 13px;
  }
}

@media (max-width: 396px) {
  .detais-cart-nft-choosed * {
    margin-top: 3px;
  }
  .detais-cart-nft-choosed * {
    font-size: 11px;
  }
}
