.p-menubar-end{
    margin-right: 45%;
}
 .p-fieldset-legend	{
    background-color: #c4c1E0 !important;
 }
 .p-datatable-thead	{
    background-color: #c4c1E0 !important;

 }
 .p-column-header{
    background-color: #c4c1E0 !important;
}
  .p-column-title{
    font-size: 1.5rem !important;

  }
 .p-sortable-column{
    background-color: #c4c1E0 !important;

 }