body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "B-Nazanin";
  src: local("B-Nazanin"), url(./font/B-Nazanin.ttf) format("truetype");
}
@font-face {
  font-family: "Iran-Nastaliq";
  src: local("Iran-Nastaliq"), url(./font/Iran-Nastaliq.ttf) format("truetype");
}
