.navbar-section {
  background: linear-gradient(90deg, #feece8 30.88%, #e9eafc 79.43%);
  display: flex;
  flex-direction: row-reverse;
}

.menu {
  width: 35%;
  padding:1.5% !important;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0 0 auto auto;
}
.menu-icon,
.close-navbar {
  width: 0px;
}
.menu-item {
  font-size: 25px;
  color: #4e45d0;
  padding: 1% 1% !important;
  cursor: pointer;
}

.menu-item:hover {
  color: #ffffff;
  text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}
.menu > p:nth-child(1) {
  text-align: center;
  background-color: #ffffff;
  border-radius: 9px;
}

.menu > p:nth-child(1):hover {
  background-color: #4e45d0;
}
.inner-addon {
  margin-left: 20px;
   /* margin: 0 -40px;  */
   /* align-self: center;
   display: flex;
  flex-direction: row-reverse;  */
  width: 250px;
  height: 50px;
}
.walletconnect{
  font-weight: 900;
  display: flex;
  justify-content: center;
  border: #4e45d0;
  border-color: #4e45d0;
  width: 150px;
  height: 50px;
  font-size: 20px;
  color: #4e45d0;
  display: flex;
  align-items: center;
  background-color: #ea8af7;
margin-top: 5px;
  border-radius: 9px;
  margin-left: 20px;
  }

.logo{
  width: 5rem;
  height: 5rem;

}


@media (max-width: 1050px) {
  .menu {
    width: 46%;
  }

  .menu-item {
    font-size: 20px;
  }
}

@media (max-width: 850px) {
  .menu-icon,
  .close-navbar {
    width: 30px !important;
    position: absolute;
    right: 20px;
    top: 2px;
  }

  .dl {
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
  }
  .menu,
  .navbar-section {
    flex-direction: column;
    align-items: flex-end;
    padding: 30px 10px;
  }
  .ac {
    border-radius: 5px;
    height: 390px !important;
    position: absolute;
    z-index: 5; 
    width:270px !important;
    top: 0;
    right: 0;
    overflow: hidden;
    transition: 0.5s;
  }
  .menu::before {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .menu * {
    line-height: 60px;
    padding: 0;
    margin: 0;
  }
  .menu > p:nth-child(1) {
    padding: 0 20px;
  }
  .inner-addon {
    align-self: auto;
    margin: 0 20px 25% 20px;
    width: 100%;
  }

 
}
