.live-collections {
}
.title{
  font: size 30px;
  margin-top: 2%;
  margin-bottom: 1%;
}
.collections-container {
  max-width: 95%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr;
  /* grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr; */
  grid-template-areas:
    "g1 g2 g3 g4"
    "g1 g2 g3 g5"
    "g6 g8 g8 g9"
    "g7 g8 g8 g9";

  column-gap: 0.9%;
  row-gap: 1.5%;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 4px 30px 1px rgba(0, 0, 0, 0.25);
  padding: 15px 15px 45px 15px;
}
.collection {
  display: flex;
  flex-direction: column-reverse;
}
.collection-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collections-container > div:nth-child(1) {
  grid-area: g1;
}
.collections-container > div:nth-child(2) {
  grid-area: g2;
}
.collections-container > div:nth-child(3) {
  grid-area: g3;
}
.collections-container > div:nth-child(4) {
  grid-area: g4;
}
.collections-container > div:nth-child(5) {
  grid-area: g5;
}
.collections-container > div:nth-child(6) {
  grid-area: g6;
}
.collections-container > div:nth-child(7) {
  grid-area: g7;
}
.collections-container > div:nth-child(8) {
  grid-area: g8;
}
.collections-container > div:nth-child(9) {
  grid-area: g9;
}

.collections-container > div:nth-child(8).collection > p:nth-child(2),
.collections-container > div:nth-child(8).collection > p:nth-child(3) {
  width: 44.6%;
}

.collections-container > div:nth-child(4),
.collections-container > div:nth-child(5),
.collections-container > div:nth-child(6),
.collections-container > div:nth-child(7) {
  height: 16.3rem;
}
.collection-title {
  width: 20.7%;
  padding: 1.2%;
  position: absolute;
  text-align: center;
  font-size: 25px;
  color: black;
  background: #d9d9d9;
  opacity: 0.7;
}

.name-title {
  height: 8rem;
}

.col-date {
  display: none;
  background: none;
  text-align: center;
}

.collection-title:hover + .col-date {
  display: block;
}

.more-btn {
  margin: 0 auto;
}
.head-section {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 80px;
}

@media (max-width: 1150px) {
  h2 {
    font-size: 50px;
  }

  .collections-container {
    padding: 1% 1% 0 1%;
    row-gap: 1%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "g1 g2 g3"
      "g4 g5 g6"
      "g7 g8 g9";
  }

  .collection,
  .collections-container > div:nth-child(4),
  .collections-container > div:nth-child(5),
  .collections-container > div:nth-child(6),
  .collections-container > div:nth-child(7) {
    height: 33.2rem;
  }

  .collections-container > div:nth-child(8).collection > p:nth-child(2),
  .collections-container > div:nth-child(8).collection > p:nth-child(3),
  .collection-title {
    width: 29%;
  }
}

@media (max-width: 850px) {
  .collections-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.5%;
    grid-template-areas:
      "g1 g2"
      "g3 g4"
      "g5 g6"
      "g7 g7"
      "g8 g9";
  }

  .collection,
  .collections-container > div:nth-child(4),
  .collections-container > div:nth-child(5),
  .collections-container > div:nth-child(6),
  .collections-container > div:nth-child(7) {
    height: 33.2rem;
  }

  .collections-container > div:nth-child(8).collection > p:nth-child(2),
  .collection-title {
    width: 41%;
  }

  .collections-container > div:nth-child(7).collection > p:nth-child(2),
  .collections-container > div:nth-child(7).collection > p:nth-child(3) {
    width: 89%;
  }

  .collection-title {
    padding: 3%;
    font-size: 40px;
  }

  @media (max-width: 650px) {
    h2 {
      font-size: 40px;
    }
    .collection-title {
      font-size: 30px;
    }
  }
}

@media (max-width: 450px) {
  .collection-title {
    font-size: 25px;
  }
}
